* body { box-sizing: border-box;}

.grid {
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-gap: 1em;
}

header, footer {
  grid-column: 1 / 4;
}

@media all and (max-width: 700px) {
  aside,
  article {
    grid-column: 1 / 4;
  }
}

body {
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
}

.icon, .icon-top {
  display: none;
} 

.icon-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 80%;
	margin: auto;
}

.icon-container img {
  width: 100%;
}
.icon:hover .icon-top {
display: inline;
        position: absolute;
        top: 0;
        left: 0;
}

.icon{
  position: relative;
  display: inline-block;
}

header,
aside,
article,
footer {
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh;
}